body{
    border: 3px solid black;
    margin: 5px;
    padding: 10px;
    height: calc(100vh - 16px);
    width: calc(100vw - 16px);
    box-sizing: border-box;
    overflow: hidden;
    background-color: antiquewhite;
}

h1{
    text-align: center;
    margin: 0;
}

.operation-bt {
    padding: 0.1rem;
}

button {
    width: 6vw;
    cursor: grab;
}

.title-t{
    display: flex;
}

p {
    padding: 0.5vw;
}

.format-area {
    outline: auto 3px;
    height: calc(100vh - 234px);
    width: calc(100vw - 42px);
}

h2 {
    margin: 0;
}

.memo-area {
    padding: 0.5rem;
}

.memo-data {
    padding: 0.5rem 0;
}

textarea {
    resize: none;
    vertical-align: middle;
    height: auto;
    font-size: 1rem;
}

input {
    font-size: 1rem;
}